.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region顶部导航栏start */
.topbar {
    height: 30px;
    background-color: #d3d3d3;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: red;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome.hello {
    margin-right: 28px;
}

.welcome .login {
    padding: 0 15px;
    border-right: 1px solid red;
}

.welcome .register {
    padding: 10px;
}

.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid red;
}

.topbar-nav .list li:first-child a {
    padding-left: 0;
}

.topbar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}

/* #endregion顶部导航栏end */

/* #region头部 */
.header {
    height: 120px;
    background-color: #fff;
}
.header .cerch form{
    margin-top: 42px;
    font-size: 0;
}
.header .cerch input{
    width: 508px;
    height: 34px;
    border: 2px solid #ff0000;
}
.header .cerch button{
    width: 80px;
    height: 38px;
    background-color: #ff0000;
    vertical-align: top;
    background-image: url("../images/serch.png");
    background-repeat: no-repeat;
    background-position: 22px 2px;
}
/* #endregion头部 */

/* #region主导航 */
.main{
    height: 48px;
    border-bottom: 2px solid #ff0000;
    background-color: #d3d3d3;
}
.main .all-types{
    width: 190px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    text-align: center;
}
.main-nav{
    height: 48px;
    line-height: 48px;
}
.main-nav li{
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

/* #endregion导航 */

/* #region侧导航 */
.main{
    margin: 10px ;
}
.main-content .alide-nav{
    width: 190px;
    height: 458px;
    background-color: #ffffff;
    position: relative;
}
.main-content .alide-nav li{
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 16px;
}
.main-content .alide-nav li:hover{
    background-color: #ff0000;
}
.main-content .alide-nav li:hover>a{
    color: aliceblue;
}
.second-menu{
    width: 680px;
    height: 458px;
    background-color: #4ec2b6;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.main-content .alide-nav li:hover .second-menu{
    display: block;
}
.second-menu dl{
    height: 36px;
    line-height: 36px;
}
.second-menu dl:first-child{
    margin-top: 10px;
}
.second-menu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-left: 10px;
}
.second-menu dd{
    float: left;
    padding-left: 10px;
}
.second-menu dd a{
    padding: 0 5px;
    border-left: 1px solid #000000;
}

/* #endregion侧导航 */

/* #region轮播图 */
.main-content .banner{
    width: 690px;
    height: 458px;
    margin: 0 10px;
}

/* #endregion轮播图 */

/* #region侧边栏其他 */
.main-content .alide-other{
    width: 290px;
    height: 458px;
}
.alide-other .message{
    width: 260px;
    height: 156px;
    padding: 0 14px;
    border: 1px solid #000000;
}
.alide-other .message .title{
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border-bottom: 1px solid #000000;
}
.alide-other .message .title span{
    font-size: 14px;
}
.alide-other .message .title a{
    font-size: 12px;
}
.alide-other .message .msg-list li{
    height: 26px;
    line-height: 26px;
}
.alide-other .other-nav{
    margin-top: 10px;
    width: 288px;
    height: 288px;
    border: 1px solid #000000;
}
.other-nav-list:first-child{
    margin-top: 16px;
}
.other-nav-list:nth-child(2){
    margin: 17px 0;
}
.other-nav-list li{
    width: 48px;
    height: 70px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}
.other-nav-list li:first-child{
    margin-left: 16px;
}
.other-nav-list .picture{
    width: 48px;
    height: 48px;
    background-image: url("../images/精灵图-侧边功能.png");
    background-position: 48px 0;
}


/* #endregion侧边栏其他 */

/* #region导航图标 */
.other-nav-list:nth-child(1) li:nth-child(1) .picture{
    background-position: 0 0;
}
.other-nav-list:nth-child(1) li:nth-child(2) .picture{
    background-position: -48px 0;
}
.other-nav-list:nth-child(1) li:nth-child(3) .picture{
    background-position: -96px 0;
}
.other-nav-list:nth-child(1) li:nth-child(4) .picture{
    background-position: -144px 0;
}


.other-nav-list:nth-child(2) li:nth-child(1) .picture{
    background-position: 0 -48px;
}
.other-nav-list:nth-child(2) li:nth-child(2) .picture{
    background-position: -48px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(3) .picture{
    background-position: -96px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(4) .picture{
    background-position: -144px -48px;
}


.other-nav-list:nth-child(3) li:nth-child(1) .picture{
    background-position: 0 -96px;
}
.other-nav-list:nth-child(3) li:nth-child(2) .picture{
    background-position: -48px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(3) .picture{
    background-position: -96px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(4) .picture{
    background-position: -144px -96px;
}

/* #endregion导航图标 */

/* #region秒杀 */

.seckill {
    margin-top: 10px;
}
.seckill img {
    float: left;
    margin-right: 11px;
    cursor: pointer;
}
.seckill img:last-child {
    margin-right: 0;
}

/* #endregion秒杀 */













